.myform {
  margin-top:5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 40%;

  background: #ffff;
  box-shadow: 4px 3px 8px 1px #ffff;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
